# GitHub Actions workflow for testing and continuous integration.
#
# This file performs testing using tox and tox.ini to define and configure the test environments.

name: CI Tests

on:
  workflow_dispatch:
  push:
    branches:
    - main  # GitHub now defaults to 'main' as the name of the primary branch. Change this as needed.
  #  tags: # run CI if specific tags are pushed
  pull_request:
  schedule:
    - cron: '0 5 20 * *'  # Runs at 05:00 on the 20th of every month

jobs:
  # Github Actions supports ubuntu, windows, and macos virtual environments:
  # https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
  ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:

           - name: Python 3.9
             os: ubuntu-22.04
             python: 3.9

           - name: Python 3.12
             os: ubuntu-22.04
             python: 3.12

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set temp locations
      run: |
        echo "ASTROPY_CACHE_DIR=$RUNNER_TEMP/astropy-cache" >> "$GITHUB_ENV"
        echo "ASTROPY_CONFIG_DIR=$RUNNER_TEMP/astropy-config" >> "$GITHUB_ENV"
        echo "XDG_CACHE_HOME=$RUNNER_TEMP/xdg-cache" >> "$GITHUB_ENV"
        echo "XDG_CONFIG_HOME=$RUNNER_TEMP/xdg-config" >> "$GITHUB_ENV"
        echo "TMPDIR=$RUNNER_TEMP/astropy-tmp" >> "$GITHUB_ENV"
        echo "HOME=$RUNNER_TEMP/home" >> "$GITHUB_ENV"
      shell: bash -el {0}
    - name: Prepare cache directories
      run: |
        mkdir -p "$HOME" "$ASTROPY_CACHE_DIR" "$ASTROPY_CONFIG_DIR" \
          "$XDG_CACHE_HOME" "$XDG_CONFIG_HOME" "$TMPDIR"
      shell: bash -el {0}
    - uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: test-env
        create-args: >-
          python=${{ matrix.python }}
          netcdf4
        init-shell: >-
          bash
        cache-environment: true
        post-cleanup: 'all'
    - name: Install package
      run: pip install .[test]
      shell: bash -el {0}
    - name: Free package caches
      run: |
        micromamba clean --all --yes
        rm -rf ~/.cache/pip
      shell: bash -el {0}
    - name: Run Pytest
      run: |
        pytest -v
      shell: bash -el {0}

#    - name: MPI test
#      run: |
#        mpirun -np 2 --oversubscribe .tox/${{ matrix.toxenv}}/bin/python -m pytest pysm3/tests/test_read_map_mpi.py;
