name: Import with base requirements

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test_ci_tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Python 3.12 Import Check
            os: ubuntu-22.04
            python: 3.12

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set temp locations
      run: |
        echo "ASTROPY_CACHE_DIR=$RUNNER_TEMP/astropy-cache" >> "$GITHUB_ENV"
        echo "ASTROPY_CONFIG_DIR=$RUNNER_TEMP/astropy-config" >> "$GITHUB_ENV"
        echo "XDG_CACHE_HOME=$RUNNER_TEMP/xdg-cache" >> "$GITHUB_ENV"
        echo "XDG_CONFIG_HOME=$RUNNER_TEMP/xdg-config" >> "$GITHUB_ENV"
        echo "TMPDIR=$RUNNER_TEMP/astropy-tmp" >> "$GITHUB_ENV"
        echo "HOME=$RUNNER_TEMP/home" >> "$GITHUB_ENV"
      shell: bash -el {0}
    - name: Prepare cache directories
      run: |
        mkdir -p "$HOME" "$ASTROPY_CACHE_DIR" "$ASTROPY_CONFIG_DIR" \
          "$XDG_CACHE_HOME" "$XDG_CONFIG_HOME" "$TMPDIR"
      shell: bash -el {0}
    - uses: mamba-org/setup-micromamba@v1
      with:
        environment-name: test-env
        create-args: >-
          python=${{ matrix.python }}
          netcdf4
        init-shell: >-
          bash
        cache-environment: true
        post-cleanup: 'all'
    - name: Install base requirements
      run: pip install .
      shell: bash -el {0}
    - name: Free package caches
      run: |
        micromamba clean --all --yes
        rm -rf ~/.cache/pip
      shell: bash -el {0}
    - name: Check import
      run: |
        python -c "import pysm3"
      shell: bash -el {0}
